* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
div{
    border: 1px solid white;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
/* Ajustes header */
header{
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.27);

    position: fixed;
    top: 0;
}
/* Logo */
.logo{
    width: 75px;
    height: 75px;
    padding: 2px;
    border: 5px;
    border: 1px solid red;
    border-radius: 360px;
}
/* Carrito */
.ContCarrito{
    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 360px;
}
.navCarrito{
    width: 50px;
    height: 50px;
    border-radius: 360px;
}
/* Nav */
.navBar{
    width: 70%;
    display: flex;
    justify-content: center;   
}
.navBar ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:30px
}
.navBar a{
    padding: 10px;
    border-radius: 10px 0px 10px 0px;
    border: 1px solid red;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.536);
}
.navBar a:hover{
    background-color: rgba(255, 0, 0, 0.415);
}

/* Ajustes Main */
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    min-height: 70vh;
    margin: 5px;
    margin-top: 100px;
    background-color: rgb(83, 83, 83);
    border-radius: 10px;
}
h1{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}
aside{
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    border: 1px solid black;
}
.calidad{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilo section principal */

.principal{
    width: 80%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}
.principalImg{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    padding: 2px;
}

.principal-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.principal-div h2{
    text-align: center;
    letter-spacing: 2px;
    color: wheat;
}
.principal-div p{
    margin: 10px;
    color: white;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 20px;
    line-height:20px;
}
.principal-div a{
    margin: 10px;
    padding: 5px;
    color: red;
    background-color: blue;
    border: 1px solid red;
    border-radius: 10px;
}

/* Estilo MiniCard */

.miniCard{
    width: 290px;
    height: 440px;
    margin: 10px;
    padding: 5px;
    
    border: 2px solid grey;
    border-radius: 10px;

    background-color: rgb(0, 0, 0);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Estilo Cuerpo de la miniCard */
.miniCardBody1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 5px;
    background-image: url(./img/Earth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 10px;
}
.miniCardBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin: 5px;
    border-radius: 10px;
}
.miniCardTitle{
    text-align: center;
    letter-spacing: 2px;
    margin: 5px;
    color: wheat;
}
.miniCardSubTitle{
    margin: 5px;
    color: white;
    text-align: center;
}
.miniCardDescription{
    margin: 5px;
    color: white;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 20px;
    line-height:20px;
}
.miniCardButton{
    display: flex;
    justify-content: center;
    font-style: bold;
    margin: 5px;
}
.miniCardButton a{
    padding: 5px;
    color: red;
    background-color: blue;
    border: 1px solid red;
    border-radius: 10px;
}

/* Estilo imagen miniCard */

.miniCardContImg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.miniCardContImg img{    
    width: 280px;
    height: 150px;
    border-radius: 10px;
    padding: 2px;
}

/* Estilo de las Card */

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 290px;
    height: 330px;
}
.cardTitle{
    text-align: center;
    letter-spacing: 2px;
    margin: 5px;
    color: wheat;
}
.cardBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}