* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
/* div{
    border: 1px solid red;
}
section{
    border: 1px solid blue;
    padding: 5px;
}
img{
    border: 1px solid white;
} */
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
/* Ajustes header */
header{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    background-color: black;

    position: fixed;
    top: 0;
}
/* Logo */
.logo{
    width: 75px;
    height: 75px;
    padding: 2px;
    border: 5px;
    border: 1px solid red;
    border-radius: 360px;
}
/* Carrito */
.ContCarrito{
    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 360px;
}
.navCarrito{
    width: 50px;
    height: 50px;
    border-radius: 360px;
}
/* Nav */
.navBar{
    width: 70%;
    display: flex;
    justify-content: center;   
}
.navBar ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:30px
}
.navBar a{
    padding: 10px;
    border-radius: 10px 0px 10px 0px;
    color: white;
}
.navBar a:hover{
    color: red;
    text-decoration: underline;
}
/* Ajustes Main */
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    min-height: 70vh;
    margin: 5px;
    margin-top: 100px;
    border-radius: 10px;
}
h1{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

/* Estilo section principal */

.principal{
    width: 80%;
    min-height: 80vh;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border: 1px solid black;
    border-radius: 10px;
}
.principalImg{
    margin: 20px;
    height: 350px;
    width: 500px;
    border: 5px solid grey;
    border-radius: 10px;    
}
.principal-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.principal-txt{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}
.principal-txt h2{
    color: blue;
}
.principal-txt p{
    color: white;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 10px;
    line-height:20px;
    font-size: 15px;
    margin: 10px;
}
.principal-descripcion{
    color: white;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 15px;
    line-height:30px;
    font-size: 18px;
}
.principal-div a{
    margin: 10px;
    padding: 5px;
    color: red;
    background-color: blue;
    border: 1px solid red;
    border-radius: 10px;
}

/* Segunda section */

.sectionCalidad{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionCalidad h2{
    width: 100%;
    color: blue;
}
.sectionCalidad p{
    width: 100%;
    color: white;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 10px;
    line-height:20px;
    font-size: 15px;
    margin: 10px;
}
.contenedor-card{
    width: 95%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilo de las Card */

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    height: 430px;
    margin: 20px;
    background-color: black;
    border: 1px solid grey;
    border-radius: 10px;
}
.imgCard-Elzar{
    height: 150px;
    width: 120px;
    border-radius: 10px;
}
.imgCardMozos{
    height: 200px;
    width: 280px;
    border-radius: 10px;
}
.card h2{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}
.card h3{
    width: 100%;
    text-align: center;
    color: red;
    font-size: 20px;
}
.card p{
    padding: 5px;
    color: white;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 10px;
    line-height:20px;
    font-size: 15px;
    margin-bottom: 10px;
}

/* Estilo criticas */

.criticas{
    width: 95%;
    display: flex;
    flex-direction: column;
}
.criticasCard{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.R{
    flex-direction: row-reverse;;
}
.criticasCardImg{
    width: 75px;
    height: 100px;
}
.comillas{
    font-size: 100px;
    color: white;
}
.criticasP{
    color: white;
    font-size: 20px;    
}
.criticasCardTxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Estilo Menu card  */

.menu{
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu h2{
        width: 100%;
        font-size: 30px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: blue;
}
.menu p{
    margin: 5px;
    color: white;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 10px;
    line-height:20px;
    font-size: 15px;
    margin-bottom: 10px;
}

.menuCard{
    height: 170px;
    width: 290px;
    margin: 10px;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menuCardContTxt{
    margin: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menuCardContTxt h2{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}
.menuCardContTxt p{
    width: 100%;
    margin: 5px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 5px;
    line-height:15px;
    font-size: 12px;
    margin-bottom: 10px;
}

/* Estilos IMG menu Card */

.menuCardImg-fix{
    height: 110px;
    width: 100px;
    border-radius: 10px;
}

/* Estilo footer */

footer{
    width: 100%;
    border-top: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    color: white;
}
footer img{
    width: 50px;
    height: 50px;
    margin: 10px;
}
/* Divisor */

.divisor {
    width: 100%;
    margin: 20px;
    /* height: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divisor img{
    height: 40px;
}

/*  Estilos extras */

.sombraBox{
    box-shadow: 10px 10px 23px -2px rgba(0,54,250,1);
}
.sobraTxt{
    text-shadow: 5px 5px 7px rgba(0,19,255,0.66);
}
.subrayado{
    text-decoration: underline;
}

/* MediaQueries */

/* Laptops */

@media (max-width: 1024px){

    .principalImg{
        height: 300px;
        width: 400px;        
    }
    
}

/* Tablets 768 * 634 */
@media (max-width: 770px){

    .principal-div{
        flex-direction: column;
    }
    .principal-txt{
        width: 100%;
    }
    .contenedor-card{
        justify-content: center;
    }
}